apiVersion: actions.summerwind.dev/v1alpha1
kind: RunnerDeployment
metadata:
  name: testapp-runner
  namespace: actions-runner-system
spec:
  replicas: 1
  template:
    spec:
      image: summerwind/actions-runner-dind:latest
      repository: rafaelmfried/testapp
      ephemeral: false
      labels:
        - self-hosted
        - linux
        - k3d
      dockerdWithinRunnerContainer: true
      volumeMounts:
        - name: docker-daemon
          mountPath: /etc/docker/daemon.json
          subPath: daemon.json
          readOnly: true
      volumes:
        - name: docker-daemon
          configMap:
            name: runner-docker-daemon
      resources:
        requests:
          cpu: "1000m"
          memory: "2Gi"
        limits:
          cpu: "2000m"
          memory: "4Gi"
